Makefile
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
src/META
src/Makefile
._bcdi
._d
._ncdi
src/*.a
src/*.cm*
src/*.o
src/*.so
src/*.annot
examples/Makefile.http
examples/Makefile.telnet
*.sw*
